# Backend Config
SECRET_KEY=django-insecure-^__=)71rpm%e*&y&zzdx@3g1e1n$uhbp80!ir*b9wu(hyyu@3=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,genesis1.vps-kinghost.net
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://genesis1.vps-kinghost.net
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False

# Database
DB_NAME=fisiopaineldev
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
